.your-activite-section{
 width: 812px;
 height: 525px;
 /* padding: 16px 115px 19px 29px; */
 background: #EFEFEF;
border-radius: 20px;
}
.incress-activity{
 display: flex;
 width: 668px;
}
.incress-activity h3{
margin: 13px 0 10px;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #334F55;
}
.incress-activity li{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 30px;

color: #808080;
}
.incress-activity ul{
margin-top: 0;
}
#myChart{
 background: #ffff;
 border-radius: 20px;
 margin: 23px 40px 21px 29px;
 padding: 18px 38px 21px;
 position: relative;
}
.chart-one{
 position: relative;
}
.chart-one::after{
    Content: "Medium";
    position: absolute;
    height: 8px;
    width: 280px;
      top: 142px;
    left: 48px;
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
color: #334F55;

}

#myChart2{
 background: #ffff;
 border-radius: 20px;
padding: 18px;
    margin: 5px 14px 19px 29px;
}
#myChart3{
 background: #ffff;
 border-radius: 20px;
 margin-bottom: 19px;
 margin-top: 5px;
 padding: 18px;
}
.chart-title, .title-content{
 display: flex;
 align-items: center;
}
.chart-title{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-right: 8px;
}
.title-content{
 display: flex;
 align-items: center;
 margin-right: 10px;
}
.title-content img{
 margin-right: 4px;
}
.title-content p{
 font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 12px;
margin: 0;
color: #000000;
}